@media only screen and (max-width: 1400px) {

/*-- Header --*/

.main_nav > li > a {
    padding: 26px 10px 25px 10px;
}

.inlines_1 > div:nth-child(1) {
    width: 190px;
}

.inlines_1 > div:nth-child(2) {
    width: calc(100% - 190px);
}

.inlines_2 {
    margin: 0 -3px 0 -3px;
}

.inlines_2 > div {
    padding: 0 3px;
}

.icon_link {
    min-width: 20px;
}

.lang_drp .dropdown_title {
    padding: 24px 3px 22px 4px;
}

.dropdown_title:after {
    right: 7px;
}

.lang_drp {
    width: 58px;
}

.lang_drp.val_drp {
    width: 70px;
}

.red_pill {
    padding: 6px 5px 8px 5px;
}

.red_pill span {
    font-size: 12px;
}

/*-- /Header --*/

}

@media only screen and (max-width: 1340px) {

/*-- Section 3 - Main Page New --*/

.objects_thumbs .object_card_2 {
    width: calc(50% - 20px);
}

/*-- /Section 3 - Main Page New --*/

}

@media only screen and (max-width: 1300px) {

/*-- Header --*/

.header_site_row > .col_3 {
    width: 23%;
}

.header_site_row > .col_4 {
    width: 19%;
}

.main_nav > li > a > img {
	display: none;
}

/*-- /Header --*/

}

@media only screen and (max-width: 1240px) {

/*-- Section 1 - Object New --*/

.object_new_promo_content {
    padding: 20px 0 50px;
}

/*-- /Section 1 - Object New --*/

}

@media only screen and (max-width: 1124px) {

/*-- Header --*/

.header_site_row > .col_3 {
    width: 29%;
}

.header_site_row > .col_4 {
	width: 30%;
}

.inlines_1 > div:nth-child(2) {
	width: 0;
}

.header_site_row .respmenubtn {
    top: 23px;
}

.resp_menu_inlines {
	display: flex;
	display: -webkit-flex;
	margin: 0 -4px;
}

.resp_menu_inlines > div {
	padding: 0 4px;
}

.val_drp_2 {
	width: 85px;
}

.lang_drp_2.val_drp_2 .dr_content {
    width: 85px;
}

.orange_pill_resp {
	min-height: 40px;
	padding: 6px 13px;
}

.orange_pill_resp svg {
	margin-right: 7px;
}

/*-- /Header --*/

/*-- My Objects --*/

.header_two_cols_2 h1 {
    padding: 8px 0;
}

.tabs_links_pills_wrapp {
    padding: 0;
}

.tabs_links_pills li a {
    min-width: 88px;
}

.objects_thumbs .object_card_2 {
    width: calc(50% - 20px);
    margin: 10px;
}

/*-- /My Objects --*/

}

@media only screen and (max-width: 1024px) {

/*-- Header --*/

.header_site_row > .col_2 {
    width: calc(41% - 85px);
}

.header_site_row > .col_3 {
    width: calc(62% - 85px);
}

.header_site_row > .col_4 {
    width: 55px;
}
/*-- /Header --*/

/*-- Add Object --*/

.add_object_btn {
    min-width: 140px;
    padding: 0 10px;
}

/*-- /Add Object --*/

/*-- Section 1 - Main Page New --*/

.search_object_two_cols > div:nth-child(1) {
    width: calc(100% - 115px);
}

.search_object_two_cols > div:nth-child(2) {
    width: 115px;
}

/*-- Section 1 - Main Page New --*/

/*-- Section 1 - Object New --*/

.object_new_title h1 {
    font-size: 36px;
}

.object_new_promo_content {
    padding: 20px 0 30px;
}

.object_new_thumb p {
    font-size: 15px;
}

.transparent_blue_pill {
    padding: 10px 10px;
}

.transparent_blue_pill span {
    font-size: 12px;
}

.white_tag p {
    font-size: 12px;
}

/*-- /Section 1 - Object New --*/

/*-- Section 5 - Object New --*/

.blue_thumb {
    width: calc(33.33% - 20px);
}

/*-- /Section 5 - Object New --*/

/*-- Section 6 - Object New --*/

.object_dropdown_content > .left_col {
    width: calc(100% - 330px);
}

.object_dropdown_content > .right_col {
    width: 330px;
}

.object_descript_flex_row_2 {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

.object_descript_flex_row_2 > div:nth-child(1) {
    width: 100%;
}

.object_descript_flex_row_2 > div:nth-child(2) {
    width: 100%;
}

/*-- /Section 6 - Object New --*/

}

@media only screen and (max-width: 1000px) {

/*-- Section 1 - Object New --*/

.object_new_promo_content {
    padding: 20px 0 10px;
}

.object_new_inline_2 > div {
    width: 50%;
}

/*-- /Section 1 - Object New --*/

}

@media only screen and (max-width: 900px) {

/*-- Account Template --*/

.header_two_cols > .left_col {
    padding-left: 0;
}

.header_resp_two_cols > .left_col {
    padding-top: 3px;
    padding-left: 0;
}

.sidebar_menu_scroll .mCSB_horizontal.mCSB_inside > .mCSB_container {
	display: flex;
	display: -webkit-flex;
}

.sidebar_menu li {
	margin: 0 6px;
}

.sidebar_menu li a {
	white-space: nowrap;
    padding: 3px 10px 3px 13px;
    min-height: 36px;
    font-weight: 400;
    font-size: 14px;
}

/*-- /Account Template --*/

/*-- My Objects Location Selected Empty --*/

.h1_wrapp_3 {
    padding-left: 0;
}

/*-- .My Objects Location Selected Empty --*/

/*-- Payment Payment --*/

.payment_type_sect {
    width: 100%;
    margin: 26px 0 34px 0;
}

.payment_type_footer {
    padding: 0 16px;
}

/*-- /Payment Payment --*/

/*-- Data Company --*/

.tabs_links_pills {
    flex-wrap: nowrap;
}

.tabs_links_pills li a {
    white-space: nowrap;
}

.sidebar_menu_scroll .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonLeft {
    display: block !important;
    width: 36px !important;
    height: 36px !important;
    cursor: pointer;
    background-image: url(img/scroll_left_arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    top: -33px;
    opacity: 1;
    -webkit-transition-property: box-shadow;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: box-shadow;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: box-shadow;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: box-shadow;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: box-shadow;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.sidebar_menu_scroll .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonRight {
    display: block !important;
    width: 36px !important;
    height: 36px !important;
    cursor: pointer;
    background-image: url(img/scroll_right_arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    top: -33px;
    opacity: 1;
    -webkit-transition-property: box-shadow;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: box-shadow;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: box-shadow;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: box-shadow;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: box-shadow;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.sidebar_menu_scroll .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonLeft:hover {
    -webkit-box-shadow: 0 5px 5px 0 rgba(255,255,255,.2);
    -moz-box-shadow: 0 5px 5px 0 rgba(255,255,255,.2);
    box-shadow: 0 5px 5px 0 rgba(255,255,255,.2);
}

.sidebar_menu_scroll .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonRight:hover {
    -webkit-box-shadow: 0 5px 5px 0 rgba(255,255,255,.2);
    -moz-box-shadow: 0 5px 5px 0 rgba(255,255,255,.2);
    box-shadow: 0 5px 5px 0 rgba(255,255,255,.2);
}

.tabs_scroll .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonLeft {
    display: block !important;
    width: 36px !important;
    height: 36px !important;
    cursor: pointer;
    background-image: url(img/scroll_left_arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    top: -38px;
    opacity: 1;
    -webkit-transition-property: box-shadow;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: box-shadow;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: box-shadow;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: box-shadow;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: box-shadow;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.tabs_scroll .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonRight {
    display: block !important;
    width: 36px !important;
    height: 36px !important;
    cursor: pointer;
    background-image: url(img/scroll_right_arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    top: -41px;
    opacity: 1;
    -webkit-transition-property: box-shadow;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: box-shadow;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: box-shadow;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: box-shadow;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: box-shadow;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.tabs_scroll .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonLeft:hover {
    -webkit-box-shadow: 0 5px 5px 0 rgba(255,255,255,.2);
    -moz-box-shadow: 0 5px 5px 0 rgba(255,255,255,.2);
    box-shadow: 0 5px 5px 0 rgba(255,255,255,.2);
}

.tabs_scroll .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonRight:hover {
    -webkit-box-shadow: 0 5px 5px 0 rgba(255,255,255,.2);
    -moz-box-shadow: 0 5px 5px 0 rgba(255,255,255,.2);
    box-shadow: 0 5px 5px 0 rgba(255,255,255,.2);
}

.h1_wrapp_3_2 {
    padding-top: 3px;
}

.tabs_scroll + .objects_thumbs {
    margin-top: -16px;
}

.pagination_wrapp_3 {
    padding: 15px 0 25px 0;
}

.grey_tags_wrapp .blue_link {
    font-size: 12px;
}

/*-- /Data Company --*/

/*-- Section 1 - Main Page New --*/

.search_object_tree_cols > div:nth-child(1) {
    width: 170px;
}

.search_object_tree_cols > div:nth-child(2) {
    width: 120px;
}

.search_object_tree_cols > div:nth-child(3) {
    width: calc(100% - 290px);
}

.office_input .rotate_icon {
    right: 10px;
}

/*-- Section 1 - Main Page New --*/

/*-- Section 5 - Object New --*/

.blue_thumbs_section {
    padding: 10px 0 10px 0;
}

.blue_thumbs_wrapp {
    margin: 10px -10px;
}

.blue_thumb {
    width: calc(50% - 20px);
}

/*-- /Section 5 - Object New --*/

/*-- Section 9 - Object New --*/

.sect_9_ob_new {
    padding: 20px 0 20px 0;
}

.h2_wrapp_ob_new {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

.h2_wrapp_ob_new > .left_col {
    width: 100%;
}

.h2_wrapp_ob_new > .right_col {
    width: 100%;
    padding-top: 5px;
}

.filter_tags_two_cols {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

.filter_tags_two_cols > div:nth-child(1) {
    width: 100%;
    padding: 0 0 5px 0;
}

.filter_tags_two_cols > div:nth-child(2) {
    width: 100%;
}

/*-- /Section 9 - Object New --*/

}

@media only screen and (max-width: 767px) {

/*-- Header --*/

.header_site_row > .col_1 {
    padding-top: 3px;
}

.header_site_row > .col_2 {
    width: calc(62% - 85px);
}

.header_site_row > .col_4 {
    width: 38%;
}

.header_site_row .respmenubtn {
    top: 18px;
}

.city_dr .dropdown_title {
    padding: 18px 15px 16px 15px;
}

.city_dr .dropdown_title:after {
    top: 24px;
}

.city_dr.city_dr_2 .dropdown_title {
    padding: 12px 15px 10px 15px;
}

.city_dr.city_dr_2 .dropdown_title:after {
    top: 17px;
}

/*-- /Header --*/

/*-- My Objects --*/

.info_center_box {
    margin: 79px auto;
}

/*-- /My Objects --*/

/*-- Company Data --*/

.user_promo {
    margin: -9px -15px 25px -15px;
}

.white_box {
    margin-bottom: 17px;
}

.user_data_input .input_icon {
    top: 13px;
}

.user_data_input .input_link {
    top: 18px;
}

.checked_input:after {
    top: 11px;
}

.user_promo_footer > div {
    padding-top: 20px;
}

.user_data_input input {
    height: 49px;
    line-height: 48px;
}

/*-- /Company Data --*/

/*-- Data Company --*/

.data_two_cols {
    margin-top: -20px;
}

.white_box_2 {
    padding: 23px 20px 37px 20px;
}

/*-- /Data Company --*/

/*-- Section 1 - Main Page New --*/

.promo_box {
    padding: 58px 0 15px 0;
}

.promo_title_wrapp h1 {
    font-size: 28px;
}

.search_tabs {
    padding: 22px 0 18px 0;
}

.search_object_two_cols {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    padding: 0 10px;
}

.search_object_two_cols > div:nth-child(1) {
    width: 100%;
    padding: 0;
}

.search_object_two_cols > div:nth-child(2) {
    width: 100%;
    padding: 0;
}

.search_object_tree_cols {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    background-color: transparent;
    padding: 4px 0 8px 0;
}

.search_object_tree_cols > div {
    background: #fff;
    border-radius: 6px;
    padding: 8px 0;
    margin: 4px 0;
}

.search_object_tree_cols > div:nth-child(1) {
    width: 100%;
}

.search_object_tree_cols > div:nth-child(2) {
    width: 100%;
}

.search_object_tree_cols > div:nth-child(3) {
    width: 100%;
}

.search_object_two_cols > div:nth-child(2) {
    width: 100%;
}

.office_input .rotate_icon {
    top: 10px;
    right: 11px;
}

.search_tab_content {
    padding: 8px 8px 15px 8px;
}

/*-- /Section 1 - Main Page New --*/

/*-- Section 3 - Main Page New --*/

.objects_thumbs.object_cards_slider .slick-slide {
    padding: 20px 10px;
}

.objects_thumbs .object_card_2 {
    width: 100%;
    margin: 0;
}

/*-- /Section 3 - Main Page New --*/

/*-- Section 2 - Object New --*/

.sect_3_ob_new {
    padding: 15px 0 15px 0;
}

.object_new_article > .left_col {
    width: 100%;
    padding: 10px 0;
}

.object_new_article > .right_col {
    display: none;
}

.object_new_article h2 {
    padding: 9px 0;
    font-size: 22px;
}

.object_new_article p {
    padding: 5px 0;
    font-size: 14px;
}

/*-- /Section 2 - Object New --*/

/*-- Section 3 - Object New --*/

.infrastructure_thumb {
    width: calc(33.33% - 20px);
}

.infrastructure_thumb:nth-child(1), .infrastructure_thumb:nth-child(2), .infrastructure_thumb:nth-child(3), .infrastructure_thumb:nth-child(4), .infrastructure_thumb:nth-child(5) {
    width: calc(33.33% - 20px);
}

/*-- /Section 3 - Object New --*/

/*-- Section 6 - Object New --*/

.object_dropdowns_header {
    padding: 0 10px;
}

.object_dropdowns_header > div:nth-child(1) {
    width: 25%;
}

.object_dropdowns_header > div:nth-child(2) {
    display: none;
}

.object_dropdowns_header > div:nth-child(3) {
    display: none;
}

.object_dropdowns_header > div:nth-child(4) {
    width: 35%;
}

.object_dropdowns_header > div:nth-child(5) {
    width: 40%;
}

.object_dropdown_header > div:nth-child(1) {
    width: 25%;
}

.object_dropdown_header > div:nth-child(2) {
    display: none;
}

.object_dropdown_header > div:nth-child(3) {
    display: none;
}

.object_dropdown_header > div:nth-child(4) {
    width: 35%;
}

.object_dropdown_header > div:nth-child(5) {
    width: calc(40% - 90px);
}

.object_dropdown_header {
    padding: 0 10px;
}

.object_dropdown_content {
    padding: 6px 15px 10px 15px;
}

.object_dropdown_content > .left_col {
    width: calc(100% - 290px);
}

.object_dropdown_content > .right_col {
    width: 290px;
}

/*-- /Section 6 - Object New --*/

}

@media only screen and (max-width: 700px) {

/*-- Account Template --*/

.header_resp_two_cols {
	padding: 2px 0 5px 0;
}

.header_resp_two_cols > .left_col {
    width: 55%;
    padding-top: 3px;
}

.header_resp_two_cols > .right_col {
    width: 45%;
}

.header_resp_two_cols .white_pill_5 {
    min-width: 130px;
}

.header_resp_two_cols_2 > .left_col {
	width: 100%;
}

/*-- /Account Template --*/

/*-- Company Data --*/

.payments_table.brokers_list_table {
    margin-top: -22px;
    margin-bottom: 31px;
}

.payments_table.brokers_list_table .table_row.table_header {
    display: none;
}

.payments_table.brokers_list_table .table_row {
    position: relative;
    padding: 17px 16px 5px 5px;
}

.payments_table.brokers_list_table .table_row .cell:nth-child(1) {
    width: 70px;
    padding-left: 10px;
}

.payments_table.brokers_list_table .table_row .cell:nth-child(2) {
    width: calc(100% - 70px);
    padding-right: 0;
}

.payments_table.brokers_list_table .table_row .cell:nth-child(3) {
    width: 100%;
    padding-top: 12px;
    padding-right: 0;
}

.payments_table.brokers_list_table .table_row .cell:nth-child(4) {
    width: 100%;
    padding-right: 0;
}

.cell_two_cols {
    display: flex;
    display: -webkit-flex;
    padding-bottom: 10px;
}

.cell_two_cols > div:nth-child(1) {
    width: 63%;
    padding: 3px 0;
}

.cell_two_cols > div:nth-child(2) {
    width: 37%;
    padding: 3px 0;
    text-align: right;
}

.payments_table.brokers_list_table .table_row .cell:nth-child(5) {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 26px;
    right: 17px;
}

.brokers_list_table .resp_title {
    display: block;
}

.payments_table.brokers_list_table_2 .table_row {
    padding: 17px 16px 15px 5px;
}

.payments_table.brokers_list_table_2 .table_row .cell:nth-child(5) {
    min-width: 100%;
    height: auto;
    position: relative;
    top: 0;
    right: 0;
    padding: 0;
}

.order_btns {
    min-width: 100%;
    margin: 0 -6px;
}

.order_btns > div {
    width: 50%;
}

.order_btns > div:nth-child(even) {
    padding-right: 0;
}

.order_btn {
    min-width: 100%;
    height: 40px;
}

.payments_table.brokers_list_table_3 .table_row .cell:nth-child(5) {
    padding-top: 13px;
    padding-left: 10px;
}

/*-- /Company Data --*/

/*-- Section 3 - Main Page New --*/

.object_card_2_content {
    text-align: left;
}

/*-- /Section 3 - Main Page New --*/

/*-- Section 3 - Object New --*/

.infrastructure_thumb {
    width: calc(50% - 20px);
}

.infrastructure_thumb:nth-child(1), .infrastructure_thumb:nth-child(2), .infrastructure_thumb:nth-child(3), .infrastructure_thumb:nth-child(4), .infrastructure_thumb:nth-child(5) {
    width: calc(50% - 20px);
}

.infrastructure_thumb p {
    font-size: 12px;
}

/*-- /Section 3 - Object New --*/

/*-- Section 6 - Object New --*/

.object_dropdown_content {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

.object_dropdown_content > .left_col {
    width: 100%;
    padding: 10px 0;
}

.object_dropdown_content > .right_col {
    width: 100%;
    padding: 10px 0;
}

.object_descript_table_row {
    padding: 0;
}

/*-- /Section 6 - Object New --*/

}

@media only screen and (max-width: 600px) {

/*-- Header --*/

.header_site_row > .col_1 {
    width: 85px;
}

.header_site_row > .col_4 {
    width: calc(100% - 85px);
}

.city_dr.city_dr_2 {
    width: 145px;
}

.resp_menu_row_2 > div:nth-child(odd) {
    width: 149px;
    padding: 8px 4px 8px 0;
}

.resp_menu_row_2 > div:nth-child(even) {
    width: calc(100% - 149px);
    padding: 8px 0 0 4px;
}

.orange_pill_resp {
	min-width: 100%;
    padding: 6px 8px;
    font-size: 12px;
}

.orange_pill_resp svg {
    margin-right: 5px;
}

.city_dr.city_dr_2 .dropdown_title {
    padding: 12px 10px 10px 10px;
}

/*-- /Header --*/

/*-- White Header --*/

.sign_form_box {
    margin: 20px auto 10px auto;
}

/*-- /White Header --*/

.resp_two_cols {
    padding-bottom: 12px;
}

.resp_two_cols .white_pill_5 {
	min-width: 140px;
}

a.basket_pill,
button.basket_pill {
    min-width: 50px;
    height: 40px;
}

.header_two_cols h1 {
    padding: 8px 0;
}

/*-- Add Object Popup --*/

.popup_add_object {
    padding: 5px 18px 7px 18px;
}

.popup_add_object .close_popup {
    top: 2px;
    right: -9px;
}

.add_oblect_form .orange_pill {
	width: 100%;
}

/*-- /Add Object Popup --*/

/*-- My Objects Added Object --*/

.two_cols_3 + .objects_thumbs {
	margin-top: -18px;
	margin-bottom: 25px;
}

.objects_thumbs .object_card_2 {
    width: 100%;
    max-width: 480px;
    margin: 10px auto;
}

/*-- /My Objects Added Object --*/

/*-- My Objects Offices Context Menu --*/

.two_cols_3.two_cols_3_2_resp {
	padding-top: 2px;
}

.two_cols_3.two_cols_3_2_resp > .left_col {
    width: 100%;
    padding-right: 0;
}

.filter_tag {
    padding: 8px 7px 8px 7px;
    font-size: 12px;
}

/*-- /My Objects Offices Context Menu --*/

/*-- Payment Tarif --*/

.respbacklink_wrapp {
    padding: 16px 0 10px 0;
}

/*-- /Payment Tarif --*/

/*-- Payment Payment --*/

.payment_type_sect > .inner_wrapp {
    padding: 4px 12px 8px 12px;
}

.payment_type_footer .inline_3 > div {
	width: 95px;
}

.payment_type_footer .inline_3 > div > .payment_type_btn {
	width: 100%;
	min-width: 100%;
	font-size: 12px;
}

.payment_type_thumb h3 {
    padding: 3px 0 6px 3px;
}

.payment_type_thumb .inner {
    padding: 9px 13px 10px 45px;
}

.payment_type_thumb .inner:before {
    top: 13px;
    left: 14px;
}

/*-- /Payment Payment --*/

/*-- Messages Empty Chat --*/

.h1_wrapp_3_2 {
    padding-top: 1px;
}

.empty_chat {
    margin: 38px auto;
}

/*-- /Messages Empty Chat --*/

/*-- Messages Items List --*/

.back_link_wrapp_2.white_bg_resp {
    border-bottom: none;
}

.messages_items {
	margin-top: 8px;
}

.message_item {
    border-top: 1px solid #ECECEC;
}

.chat_header {
    box-shadow: none;
    padding: 0;
}

.person_info_thumb h3 {
    padding: 1px 0;
}

.person_info_thumb p {
    padding: 1px 0;
}

.chat_header_wrapp {
	border-bottom: 1px solid #ECECEC;
}

.chat_header_wrapp.white_bg_resp {
    padding: 10px 15px 35px 15px;
}

.person_info_dr_dots {
	width: 24px;
    height: 24px;
    background-image: url(img/dots_vertical.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;	
}

.person_info_dr_wrapp {
	position: absolute;
    top: 14px;
    right: 3px;
}

/*-- /Messages Items List --*/

/*-- Refill --*/

.header_two_cols {
    padding: 5px 0 5px 0;
}

.payment_type_sect.payment_type_sect_2 {
    margin-top: 9px;
    margin-bottom: 30px;
}

.step_thumb p {
    font-size: 12px;
}

/*-- /Refill --*/

/*-- Company Data --*/

.white_box {
    padding: 8px 15px 21px 15px;
}

.checked_input:after {
    right: 11px;
}

.user_data_inputs_two_cols > div:nth-child(odd) {
    padding: 15px 0;
}

.user_data_input input {
    height: 48px;
    line-height: 47px;
}

.user_data_inputs_two_cols > div:nth-child(even) {
    padding-bottom: 2px;
}

.data_company_form .white_box:last-child {
    margin-bottom: 115px;
}

.data_company_form .password_white_box .user_data_inputs_two_cols > div:nth-child(odd) {
    padding: 10px 0;
}

.data_company_form .password_white_box .white_box_title {
    padding-bottom: 9px;
}

/*-- /Company Data --*/

/*-- Section 1 - Main Page New --*/

.offices_val {
    max-width: 100%;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

.offices_val > div {
    width: 100%;
    padding: 0;
}

.offices_val_thumb:before {
    top: 9px;
}

/*-- /Section 1 - Main Page New --*/

/*-- Section 1 - Object New --*/

.promo_content_row {
    padding: 40px 15px 10px 15px;
}

.object_new_promo_content {
    padding: 20px 0 10px;
}

.object_new_inline_2 {
    margin: 0;
}

.object_new_inline_2 > div {
    padding: 5px 0;
    width: 100%;
}

.object_new_title h1 {
    font-size: 24px;
}

.white_tag {
    min-height: 27px;
}

.white_tag p {
    font-size: 11px;
}

.transparent_blue_pill {
    padding: 5px 10px;
    min-height: 20px;
}

.icon_link_3 span {
    font-size: 13px;
}

.object_new_controls > div:nth-child(1) {
    padding: 4px 10px 0 0;
}

.object_new_slider_arrow .slick-prev {
    margin-right: 10px;
}

.object_new_controls > div:nth-child(2) {
    width: 70px;
}

/*-- /Section 1 - Object New --*/

/*-- Section 4 - Object New --*/

.object_new_controls > div:nth-child(1) {
    padding: 1px 10px 0 0;
}

.object_new_controls_2 > div:nth-child(2) {
    padding-top: 0;
}

.slide_thumb {
    display: block;
    height: 220px;
}

/*-- /Section 4 - Object New --*/

}

@media only screen and (max-width: 550px) {

/*-- Section 6 - Object New --*/

.object_dropdowns_header > div:nth-child(1) {
    width: 90px;
}

.object_dropdowns_header > div:nth-child(4) {
    width: 120px;
}

.object_dropdowns_header > div:nth-child(5) {
    width: 100px;
}

.object_dropdown_header > div:nth-child(1) {
    width: 90px;
}

.object_dropdown_header > div:nth-child(4) {
    width: 120px;
}

.object_dropdown_header > div:nth-child(5) {
    width: 100px;
}

.object_dropdown_header > div:nth-child(6) {
    width: 65px;
}

.object_dropdown_header .object_hearth_link {
    margin: -9px 0 0 0;
}

.cell_text p {
    font-size: 11px;
}

.green_pill_obj {
    padding: 9px 10px;
}

.blue_pill_obj {
    padding: 9px 10px;
}

/*-- /Section 6 - Object New --*/

}

@media only screen and (max-width: 480px) {

/*-- Company Data --*/

.submit_fixed_menu > div:nth-child(1) {
    width: 100%;
    padding: 10px 0 0 0;
}

.submit_fixed_menu > div:nth-child(2) {
    width: 100%;
    padding: 10px 0 10px 0;
}

.submit_btns_wrapp > div {
    width: 50%;
}

.data_submit_btn {
    width: 100%;
}

/*-- /Company Data --*/

/*-- Save Popup --*/

.save_popup {
    padding: 17px 20px 15px 20px;
}

.save_popup_title h3 {
    font-size: 20px;
}

.save_popup_form p {
    padding: 7px 0;
    font-size: 14px;
}

.save_popup_form .inline_3 {
    margin: 0;
    flex-direction: column-reverse;
}

.save_popup_form .inline_3 > div {
    width: 100%;
    padding: 4px 0;
}

/*-- /Save Popup --*/

/*-- Section 5 - Object New --*/

.blue_thumbs_section {
    padding: 10px 0 0 0;
}

.blue_thumbs_wrapp {
    margin: 10px 0;
}

.blue_thumb {
    width: 100%;
    margin: 10px 0;
}

/*-- /Section 5 - Object New --*/

/*-- Section 6 - Object New --*/

.object_dropdown_slider_wrapp {
    height: 290px;
}

.object_dropdown_slider .slide {
    height: 290px;
}

.count_slides_wrapp {
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    padding-left: 10px;
}

.object_dropdown_header {
    position: relative;
}

.object_dropdown_header > div {
    padding-top: 27px;
}

.object_dropdown_header > div:nth-child(6) {
    position: absolute;
    top: 4px;
    right: -3px;
    padding-top: 0;
}

.green_pill_2 {
    min-width: auto;
}

/*-- /Section 6 - Object New --*/

}

@media only screen and (max-width: 360px) {

/*-- Header --*/

.novisible_360 {
	display: none !important;
}

/*-- /Header --*/

}

@media only screen and (max-width: 355px) {

/*-- Header --*/

.resp_menu_row_2 > div:nth-child(even) {
    width: 100%;
    padding: 8px 0 0 0;
}

.acc_thumb_resp h3 {
    font-size: 14px;
}

.acc_thumb_resp .grey_link {
    font-size: 12px;
}

.acc_thumb_resp .grey_link svg {
    top: -2px;
}

/*-- /Header --*/

/*-- Account Template --*/

.header_resp_two_cols .white_pill_5 {
    min-width: 110px;
}

/*-- /Account Template --*/

/*-- Succes Message --*/

.succes_message img {
    margin: 4px auto;
}

.succes_message h3 {
    font-size: 28px;
}

/*-- /Succes Message --*/

/*-- Section 3 - Object New --*/

.infrastructure_thumbnails {
    margin: 10px 0;
}

.infrastructure_thumb {
    width: 100%;
    margin: 10px 0;
}

.infrastructure_thumb:nth-child(1), .infrastructure_thumb:nth-child(2), .infrastructure_thumb:nth-child(3), .infrastructure_thumb:nth-child(4), .infrastructure_thumb:nth-child(5) {
    width: 100%;
    margin: 10px 0;
}

/*-- /Section 3 - Object New --*/

}